@charset "utf-8";

* {
    background-color: #d1c8a3;
    font-size: 25px;
}

.informações {
background-color: #c6ad71;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
border: 1px solid #acba9d;
}

h4 {
    color: #e3604d;
}

h3 {
    color:#e3604d;
}

h2 {
    color:#e3604d;
}