@charset "utf-8";

body {
    background-color: rgb(203, 203, 230);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

section {
    text-align: center;
}


a {
    text-decoration: none;
}

.box-1 {
    border: dotted;
    border-color: blueviolet;
}

.ela {
    color: yellow;
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
    padding-right: 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
}

.box-2 {
    border: solid;
    border-color: blue;
    margin-top: 15px;
}

.texto {
    color: aqua;
    margin-left: 150px;
    padding-right: 150px;

}

.btn2 {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;

}

.box-3 {
    border: inset;
    border-color: palevioletred;
    margin-top: 15px;
}

.incapaz {
    color: rgb(148, 17, 104);
}