
body{
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:cornsilk;
}

img{
width: 300px;
}

h1{
    text-align: center;
}

.div{
    border:2px solid #000;
    margin: 50px 0;
    padding: 50px;
    background: #faf2f2;
    border-radius: 50px;
}
.div h3{
    margin:20px 0;
}

.bordas {
    margin-top: 25px;
    padding: 0 20px;
    border: 2px solid black;
}

#container-left{
    display: flex;
}
#container-right{
    display: flex;
    flex-direction: row-reverse;
}
#container-right figure{
    margin: 50px;
}

