@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3em;
    font-family: 'oswald', sans-serif;
    background-color: #787d8f;
}

a{
    color: #6b1515d1;
    text-decoration: none;
}

#main-header {
    height: 25vh;
    padding: 2rem;
    display: flex;
    background-color: #b57f43;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-header h1{
    grid-column: 2 / 4;
    margin: auto;
}

#main-header img{
    margin: auto;
}

#main-header img:hover{
    transform: scale(1.5);
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-gap: 2rem;
    margin
}

.card{
    background-color: #e9d97f;
    position: relative;
}

.card h3{
    text-align: center;
    padding: 15px 0;
    text-decoration: underline;
}

.card p{
    padding: 45px 0;
}

.card>div{
    padding: 2rem;
}

.botton{
    display: inline-block;
    text-decoration: none;
    background: #884c4c;
    border-radius: 15px;
    color: #fff;
    padding: 0.8rem 1.8rem;
    position: absolute;
    left: 2%;
    bottom: 2%;
   /* border: 1px solid rgb(122, 44, 44);
    color: rgb(251, 239, 239);
    background-color: rgb(122, 44, 44);
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;*/
}

.btn:hover{
    opacity: 0.8;
}